h1,
h2 {
  margin: 1em 0;
}

.justified,
td,
ul {
  text-align: justify;
}

* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  text-align: center;
  background-color: snow;
}

h1 {
  font-size: 1.17em;
}

h2 {
  font-size: 1em;
}

.white-bg {
  background-color: #fff;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

#heart:active {
  transform: scale(1.1);
}

table {
  margin: auto;
}

input {
  font-size: 16px;
}

.green {
  color: #4caf50;
}

.red {
  color: #f44336;
}

.MuiPieChart-seriesLabels {
  font-size: 14px;
}

#about {
  font-size: 15px;
  line-height: 1.6;
}

.justified {
  padding: 0 5%;
}

ul {
  display: inline-block;
  margin: 0;
}

footer {
  font-size: 12px;
}
