* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  text-align: center;
  background-color: #fffafa;
}

h1 {
  font-size: 1.17em;
  margin: 1em 0;
}

h2 {
  font-size: 1em;
  margin: 1em 0;
}

.white-bg {
  background-color: white;

  border: 1px solid lightgray;
  border-radius: 5px;

  padding: 10px;
  margin: 10px 0px;
}

#heart:active {
  transform: scale(1.1);
}

table {
  margin: auto;
}

td {
  text-align: left;
}

input {
  font-size: 16px;
}

.green {
  color: green;
}

.red {
  color: #f44336;
}

#about {
  font-size: 15px;
  line-height: 1.6;
}

.left-align {
  text-align: left;
  padding: 0 5%;
}

ul {
  display: inline-block;
  text-align: left;

  margin: 0;
}

footer {
  font-size: 12px;
}
