* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  text-align: center;
  background-color: #fffafa;
}

a {
  color: black;
  text-decoration: none;
}

.white-bg {
  background-color: white;

  border: 1px solid lightgray;
  border-radius: 5px;

  padding: 10px;
  margin: 10px 0px;
}

#heart:active {
  transform: scale(1.1);
}

input {
  font-size: 16px;
}

table {
  margin: auto;
}

.green {
  color: green;
}

.coral {
  color: coral;
}

footer {
  font-size: 12px;
}
