* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  text-align: center;
}

a {
  color: black;
  text-decoration: none;
}

#heart:active {
  transform: scale(1.1);
}

input {
  font-size: 16px;
}

table {
  margin: auto;
}

.green {
  color: green;
}

.coral {
  color: coral;
}

footer {
  font-size: 12px;
}
